## Условие 1: 1 задача
Скачать файл в уроке
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [2]:
import pandas as pd
df = pd.read_csv('kc-house-data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Условие 2: 2 задача
Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их
Пишите выводы

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

Нет пропущенных ячеек.

In [4]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Условие 3: 3 задача
Ответьте на несколько вопросов
3.1 В каком диапазоне изменяются стоимости недвижимости?

75000 - 7700000

In [5]:
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
20000,2767601311,20141024T000000,445000.0,3,2.50,1260,1102,3.0,0,0,...,8,1260,0,2007,0,98107,47.6750,-122.387,1320,2500
6856,1115800440,20140918T000000,525000.0,4,1.75,1650,8560,1.0,0,0,...,8,1650,0,1970,0,98052,47.6652,-122.146,1700,8560
323,7972000240,20150202T000000,240000.0,3,1.75,1510,10248,1.0,0,0,...,7,1510,0,1969,0,98023,47.2929,-122.371,1510,9753
7201,6868200029,20140929T000000,467500.0,3,1.75,2260,8512,1.0,0,0,...,7,1130,1130,1948,0,98125,47.7129,-122.304,2240,8040
16778,2742100250,20140720T000000,550000.0,4,3.50,3820,17745,2.0,0,2,...,8,2440,1380,1955,0,98108,47.5570,-122.295,2520,9640

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [6]:
df.sqft_living.mean()/df.sqft_lot.mean()

0.1376781757959227

3.3 Как много домов с разными этажами в данных?

In [7]:
len(df.floors.unique())

6

3.4 Насколько хорошие состояния у домов в данных?

In [8]:
df.condition.value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [9]:
df.yr_built.describe()

count    21613.000000
mean      1971.005136
std         29.373411
min       1900.000000
25%       1951.000000
50%       1975.000000
75%       1997.000000
max       2015.000000
Name: yr_built, dtype: float64

1900, 2015

Условие 4: 4 задача
Ответьте на несколько вопросов

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [10]:
df[df['bedrooms'] == 2]. price.mean()

401372.681884058

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [11]:
df[df['price'] > 600000].sqft_lot.mean()

20442.524776214832


4.3 Как много домов коснулся ремонт?

In [12]:
df[df['yr_renovated'] > 0].value_counts()

id          date             price      bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode  lat      long      sqft_living15  sqft_lot15
3600057     20150319T000000  402500.0   4         2.00       1650         3504      1.0     0           0     3          7      760         890            1951      2013          98144    47.5803  -122.294  1480           3504          1
5595900345  20150113T000000  460000.0   4         2.75       3460         13168     2.0     0           0     4          8      3460        0              1932      1986          98022    47.2046  -121.996  1500           7670          1
5630500005  20141120T000000  262500.0   2         1.50       1140         14373     1.0     0           0     3          7      1140        0              1949      1996          98011    47.7354  -122.219  2140           9860          1
5643600351  20140806T000000  257000.0   4         1.75       1900         22896     1.5     0           0     3          7      1360        540            1922      1990          98010    47.3102  -122.023  1300           8960          1
5649600435  20150108T000000  349950.0   5         2.00       1880         4179      1.0     0           0     3          7      940         940            1952      2000          98118    47.5536  -122.283  1350           5150          1
                                                                                                                                                                                                                                           ..
2464400280  20150504T000000  710000.0   4         3.50       2850         2910      2.0     0           2     3          8      1970        880            1905      1996          98115    47.6855  -122.321  1460           3880          1
2472950350  20150411T000000  312500.0   4         2.50       2500         11983     1.0     0           0     3          7      1320        1180           1984      2008          98058    47.4292  -122.148  1460           9005          1
2473100450  20140909T000000  330000.0   4         2.00       1590         9100      1.0     0           0     3          7      1040        550            1967      2014          98058    47.4465  -122.156  1670           9100          1
2473100635  20140508T000000  297950.0   3         2.00       1240         10800     1.0     0           0     3          7      1240        0              1967      2010          98058    47.4490  -122.155  1480           8840          1
9829200250  20150105T000000  1697000.0  3         2.00       2600         6600      2.0     0           4     3          10     1930        670            1970      2014          98122    47.6055  -122.285  2670           6270          1
Length: 914, dtype: int64


4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [13]:
df[df['grade'] > 10].price.mean() - df[df['grade'] < 4].price.mean()

1488885.1175298805

Условие 5: 5 задача
Ответьте на несколько вопросов
5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [18]:
df[(df['waterfront'] > 0) & (df['bathrooms'] >= 3) & (df['sqft_basement'] >= 0)].shape[0]

57

57

5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [15]:
df[(df['view'] == 4) | ((df['yr_built'] >= 1980) & (df['waterfront'] > 0) & (df['condition'] == 5))].price.min()

252000.0

In [16]:
df[(df['view'] == 4) | ((df['yr_built'] >= 1980) & (df['waterfront'] > 0) & (df['condition'] == 5))].price.max()

6885000.0

252000-6885000


5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [19]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)].condition.mean()

2.8333333333333335